{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/gallery.css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container-fluid pt-4" id="gallery-page">
    <div class="container">
        <h2 class="text-center pb-4">Photo Gallery</h2>
        <div class="row g-4">
            {{ $galleryPath := "gallery" }}
            {{ $gallery := readDir (printf "static/%s" $galleryPath) }}
            {{ range $gallery }}
                {{ if findRE "\\.(jpg|jpeg|png|gif)$" .Name }}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-item">
                        <a href="/{{ $galleryPath }}/{{ .Name }}" data-lightbox="gallery" data-title="{{ .Name }}">
                            <img src="/{{ $galleryPath }}/{{ .Name }}" alt="{{ .Name }}" class="img-fluid">
                        </a>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'albumLabel': 'Image %1 of %2'
    });
</script>
{{ end }}
